<div class="container-fluid">
  <div class="card">
    <div class="card-body">
      <h1 class="card-title">Sign in</h1>
      <p class="mt-3">to continue to VideoBuddy</p>
      <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <div class="form-group mb-4">
          <label for="">Email</label>
          <input type="email" class="form-control" name="email" formControlName="email">
        </div>
        <div class="form-group mb-5">
          <label for="">Password</label>
          <input type="password" class="form-control" name="email" formControlName="password">
        </div>
        <button class="btn btn-primary btn-lg" [disabled]="!loginForm.valid && !formSubmitting">Login</button>
        <p class="mt-5">Forget your password?</p>
      </form>
    </div>
  </div>
</div>