.nav-item {
  padding: 5px 12px;
  border-radius: 5px;
  margin: 5px 0;
}

.nav-item:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

.active {
  background-color: #f3f6fa;
}

.nav-item-text {
  font-size: 1rem;
}